// Container for all features
.features {

    // Formatting
    margin: 15rem 0;

    // Positioning
    grid-column: center-start / center-end;

    // Nested grid
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr)); // Make responsive (25rem value source found by experimentation when layout breaks)
    // grid-template-rows: auto auto; // unnecessary since we use defaults anyway
    grid-gap: 6rem;

    align-items: start;

}

// Single feature
.feature {

    // Nested grid
    display: grid;
    grid-template-columns: minmax(min-content, 4.5rem) 1fr; // first column at least size of icon, second column the rest
    grid-row-gap: 1.5rem;
    grid-column-gap: 2.5rem;

    &__icon {
        fill: $color-primary;
        width: 4.5rem;
        height: 4.5rem;

        grid-row: 1 / span 2;

        transform: translateY(-.7rem);
    }

    &__text {
        font-size: 1.7rem;
    }

}